*{
    margin: 0;
}
.movies-row{
    background-color: black;
}
.movies .movies-row h2{
    margin-top: 50px;
    color: white;
}
.movies-watch{
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    margin-left: 80px;
    margin-top: 220px;
    background-color: black;
    color: rgb(248, 247, 246);
}
.movies-watch:hover{
    color: black;
    background-color: white;
}