.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:  #111;
    height: 50px;
    color: white;
    z-index: 1;
}
.logo{
    width : 100px;
    position : fixed;
    left : 20px;
    margin: 10px;
}
.avatar{
    position: fixed;
    right: 20px;
    margin: 15px;
    cursor: pointer;
    margin-top: -19px;
}
.Home{
    margin-left: 160px;
    margin-top: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    width: 48px;
    cursor: pointer;
}
.TV-Shows{
    margin-top: -19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 217px;
    cursor: pointer;
    width: 72px;
    cursor: pointer;
}
.Movies{
    margin-top: -19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 307px;
    cursor: pointer;
    width: 55px;
    cursor: pointer;
}
.search-box{
    margin-left: 865px;
    top: 5px;
    position: fixed;
    z-index: 1;
}
.search-label{
    padding: 10px 30px;
}
.search-icon{
   position: fixed;
   top: 15px;
    left: 1050px;
    z-index: 1;
}

